body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
#patientAndDoctor{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.header{
  max-width: 80%;
  margin: 0px auto;
  position: relative;
  padding: 20px 0px;
  z-index: 10;
  text-align: center;
  display: flex;
  justify-content: center;
}
.header h1{
  top: 20px;
  font-size: 40px;
  color: #000000;
  padding: 9px 10px;
}
.header img{
  max-width: 60px;
}
.login-box{
    width: 500px;
    height: 450px;
    background: rgba(255,255,255,0.8);
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
   margin: 30px auto;
    box-sizing: border-box;
    padding: 70px 30px;
    transform: translate(-50%, -50%);
}
input[type="checkbox"], center {
    display: inline-block;
    width: auto !important;
}
.login-box a{
  color: #000 !important;
  display: inline-block !important;
}
.login-box{
  color: #000;
}
.avatar {
    /* width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 0;
    left: 30px; */
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(24, 21, 21);
    font-size: 16px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #39dc79;
}
.forget_newUser{
  display: flex;
  justify-content: space-between;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

body {
  margin: 0 auto;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  height: 100vh;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-snap-type: x mandatory;
  padding: 0rem;
  min-height: 100%;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
}

.carousel__slide:nth-child(even) {
  background-color: #99f;
}


.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 30px;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}




#carousel__slide1{
    background: url("../img/slide1.png") no-repeat center;
    background-size: cover;
}
#carousel__slide2{
    background: url("../img/slide2.png") no-repeat center;
      background-size: cover;
}
#carousel__slide3{
    background: url("../img/slide3.png") no-repeat center;
      background-size: cover;
}
#carousel__slide4{
    background: url("../img/slide4.png") no-repeat center;
      background-size: cover;
}
#carousel__slide5{
    background: url("../img/slide5.png") no-repeat center;
      background-size: cover;
}




















































